# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: HugoTask@1
  inputs:
    source: '$(Build.SourcesDirectory)'
    destination: '$(Build.SourcesDirectory)\public'
    baseURL: 'https://updated.sigmact.com'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\public'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: AzureCLI@2
  displayName: 'Delete Prod'
  inputs:
    azureSubscription: "シグマコンサルティング(eee9046c-f7c0-4e03-98e0-3660ae9224fc)"
    scriptType: "ps"
    scriptLocation: "inlineScript"
    inlineScript: 'az storage blob delete-batch -s $(container) --pattern * --account-name $(storagename) --account-key $(accountkey)'

- task: AzureCLI@2
  displayName: 'Upload Prod'
  inputs:
    azureSubscription: "シグマコンサルティング(eee9046c-f7c0-4e03-98e0-3660ae9224fc)"
    scriptType: "ps"
    scriptLocation: "inlineScript"
    inlineScript: 'az storage blob upload-batch -d $(container) -s $(Build.SourcesDirectory)\public --account-name $(storagename) --account-key $(accountkey)'

- task: AzureCLI@2
  displayName: 'Purge CDN'
  inputs:
    azureSubscription: "シグマコンサルティング(eee9046c-f7c0-4e03-98e0-3660ae9224fc)"
    scriptType: "ps"
    scriptLocation: "inlineScript"
    inlineScript: 'az cdn endpoint purge -g sigmact-www -n sigmaupdated --profile-name sigma-updated --content-paths "/" "/about/about-updated/" "/azure/security/keyvault/" "/management/requirement/before_requirement/" "/azure/security/pci-dss-azure/" "/design/our-design-process/" "/interview/gatebox/interview-gatebox/" "/beer/sigma-brewing/" "/beer/hard-seltzer/" "/music/days2/" "/music/days/" "/azure/devops/azuredevops/" "/azure/operation/monitoring/" "/zatsudan/whatiszatsudan/" "/zatsudan/why/" "/zero-to-hero/part1-setting-up/" "/zero-to-hero/part2-cicd/" "/zero-to-hero/part3-releasing-to-production/" "/zero-to-hero/part4-customdomain/" "/siguma/" "/growth-hacking/user-onboarding/" "/robots.txt" "/sitemap.xml" '
