# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: HugoTask@1
  inputs:
    source: '$(Build.SourcesDirectory)'
    destination: '$(Build.SourcesDirectory)\public'
    baseURL: 'https://updated.sigmact.com'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\public'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: AzureFileCopy@4
  inputs:
    SourcePath: '$(Build.SourcesDirectory)\public\'
    azureSubscription: 'シグマコンサルティング(eee9046c-f7c0-4e03-98e0-3660ae9224fc)'
    Destination: 'AzureBlob'
    storage: 'sigmactwwwupdated'
    ContainerName: 'test'
