<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        <div class="wrapper">

        {{ if .IsHome }}
        {{ "<!-- header -->" | safeHTML }}
        <header class="shadow-bottom">   
            <div class="container pl-4 pr-4">
                {{ "<!-- navigation -->" | safeHTML }}
                {{ partial "navigation.html" . }}
                {{ "<!-- /navigation -->" | safeHTML }}
            </div>
        </header>
        {{ "<!-- /header -->" | safeHTML }}
        <main class="isHome">
            {{ partial "keyvisual.html" . }}
            <div class="homeMain">
                {{- block "main" . }}{{- end }}
            </div>
        </main>

        {{ else if .IsNode }}
        <header class="shadow-bottom" data-background="{{ .Params.bannerimage }}">
            <div class="container">
                {{ partial "navigation.html" . }}
            </div>
            
        </header>    
        <main>
            <div id="container">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{ else }}

        {{ end }}

    
        <!-- footer -->
        {{- partial "footer.html" . -}}
        </div>  
    </body>
</html>
