{{ define "main" }}

  {{ "<!-- page title -->" | safeHTML }}
  <div class="container">
    <div class="keyvisual noBottomMargin">
      <img class="keyvisualImage" src="{{ .Site.BaseURL }}{{ .Params.eyecatch }}" alt="{{ .Title }}">
      <div class="keyvisualTextBoxSub">
        <div class="text-center mx-auto keyvisualText">
          <h1 class="keyTitleText">{{ .Title }}</h1>
          <!--<p class="keyword">{{ .Params.Description }}</p>-->
        </div>
      </div>        
    </div>
  </div>
  {{ "<!-- /page title -->" | safeHTML }}

  {{ "<!-- topics -->" | safeHTML }}
  <section class="section pt-0">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
          {{ .Content }}
        </div>

        <div class="col-12 text-center">
          <h2 class="section-title mt-0">記事一覧</h2>
        </div>
             
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Data.Pages "Type" "article") }}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="topicTile bg-white shadow">
            <a href="{{ .RelPermalink }}" class="d-block">
              <p class="date text-right">{{ .PublishDate.Format "2006/1/2" }}</p>

              {{ if (isset .Params "eyecatch") }}
              {{ $eyecatchImage := .Params.Eyecatch }}
              <img class="topicTitleImages" src="{{ .Site.BaseURL }}{{ $eyecatchImage }}" alt="{{ .Params.title }}">
              {{ else }}
              <img class="topicTitleImages" src="{{ .Site.BaseURL }}images/eyecatch/default.png" alt="{{ .Params.title }}">
              {{ end }}
              <div class="topicTileText">
                <h3 class="listTitle mt-0 mb-0">{{ .Title }}</h3>
              </div>
               
              <ul class="tagList">
                {{ range .Params.Tags }}
                <li>#{{ . }}</li>
                {{ end }}
              </ul>
                
            </a>
          </div>
        </div>
        {{ end }}
      
        <div class="text-center col-12 text-center">
          <!--<p class="section-title mb-4">問い合わせ</p>-->
          <p class="mb-4">お問い合わせはこちらから</p>
          <a href="https://www.sigmact.com/#section-contact" class="btn btn-primary">問い合わせる</a>
        </div>
      
      </div>
    </div>

  </section>
  {{ "<!-- /topics -->" | safeHTML }}


{{ end }}