{{ define "main" }}

  {{ "<!-- page title -->" | safeHTML }}
  <div class="container">
    <div class="keyvisual">
      <img class="keyvisualImage" src="{{ .Site.BaseURL }}{{ .Params.eyecatch }}" alt="{{ .Title }}">
      <div class="keyvisualTextBox">
        <div class="col-lg-8 mx-auto text-center">
          <h1 class="text-white mb-4">{{ .Title }}</h1>
          <p class="keyword">{{ .Params.Description }}</p>
        </div>
      </div>        
    </div>
  </div>
  {{ "<!-- /page title -->" | safeHTML }}

  {{ "<!-- topics -->" | safeHTML }}
  <section class="section pt-0">
    <div class="container">
      <div class="row mt-5">
        {{ .Content }}

        <div class="col-12 text-center">
          <h2 class="section-title mt-0">記事一覧</h2>
        </div>
             
          {{ "<!-- topic-item -->" | safeHTML }}
          {{ range (where .Data.Pages "Type" "article") }}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="topicTile bg-white shadow">
              <a href="{{ .RelPermalink }}" class="d-block">
                <p class="date text-right">{{ .PublishDate.Format "2006/1/2" }}</p>

                {{ if (isset .Params "eyecatch") }}
                {{ $eyecatchImage := .Params.Eyecatch }}
                <img class="topicTitleImages" src="{{ .Site.BaseURL }}{{ $eyecatchImage }}" alt="{{ .Params.title }}">
                {{ else }}
                <img class="topicTitleImages" src="{{ .Site.BaseURL }}images/eyecatch/default.png" alt="{{ .Params.title }}">
                {{ end }}
                <div class="topicTileText">
                  <h3 class="title mt-0 mb-0">{{ .Title }}</h3>
                </div>
               
                <ul class="tagList">
                  {{ range .Params.Tags }}
                  <li>#{{ . }}</li>
                  {{ end }}
                </ul>
                
              </a>
            </div>
          </div>
          {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}

  {{ if .Site.Params.cta.enable }}
  {{ "<!-- call to action -->" | safeHTML }}
  {{/*  <section class="section bg-gray pt-5">
    <div class="text-center bg-white p-5">
      {{ with .Site.Params.cta.title }} <p class="section-title mb-4">{{ . }}</p> {{ end }}
      {{ with .Site.Params.cta.description }} <p class="mb-4">{{ . }}</p> {{ end }}
      <a href="{{ with .Site.Params.cta.btnURL}}{{ . | absURL }}{{ end }}"
        class="btn btn-primary">{{ with .Site.Params.cta.btnText}}{{ . }}{{ end }}</a>
    </div>
  </section>  */}}
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}


{{ end }}