{{ "<!-- footer -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      {{ with .Site.Params.copyright }} <p class="copyright col-md-8 text-md-left text-center text-white">&copy;{{ .}}</p>
      {{ end }}
      <ul class="footerSns col-md-4 text-md-right text-center list-inline">
        {{ range .Site.Params.socialIcon }}
        <li class="list-inline-item"><a class="text-white d-inline-block p-1" href="{{ .linkURL }}"><i
              class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Bootstrap JS -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/bootstrap/bootstrap.min.js"></script>
{{ "<!-- highlight -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1057460-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1057460-1');
</script>
