{{ "<!-- keyvisual -->" | safeHTML }}
<div class="container">
    <div class="keyvisual">
        <img class="keyvisualImage" src="{{ .Site.Params.banner.image | absURL }}" alt="Sigma Updated.">
        <div class="keyvisualTextBox">
            <div class=" text-center mx-auto keyvisualText">
                <h1 class="keyTitleText">{{ .Site.Params.banner.title}}</h1>
                <p class="keyword">Cloud + Code + Design</p>
                <!-- <p class="text-white mb-0">Azure　DevOps　Design</p> -->
                <p class="text-dark">{{ .Site.Params.banner.description }}</p>
                {{/*  <p class="text-white mb-4">{{ .Site.Params.banner.description }}</p> */}}
            </div>
        </div>
        
    </div>
</div>
{{ "<!-- /keyvisual -->" | safeHTML }}