
{{ define "main"}}
<main id="main">
  <section class="section pt-0">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
            <h1 id="title"><a href="https://www.sigmact.com">企業サイトのTOPに戻る</a></h1>        
            <h1 id="title"><a href="{{ "/" | relURL }}">BLOGのTOPに戻る</a></h1>        
        </div>
        <div class="frame-wrapper__video">
            <iframe src="https://www.youtube.com/embed/oiVJLFk4cZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="frame-wrapper__video">
            <iframe src="https://www.youtube.com/embed/u-mTsAEEOiM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>
  </section>
</main>

{{ end }}
