table {
  width:100%;
  table-layout: auto;
  th,
  td {
    padding: 10px;
    border:1px solid #ccc;
    vertical-align: top;
  }
  th {
    background-color:var(--secondary-color);
  }
  td {
    background-color:var(--white-color);
  }
}

.navigationWrapper {
  background-color: var(--white-color);
  opacity: .6;
}

.btn-primary {
  background: var(--primary-color);  
  background: -webkit-linear-gradient(to top, #9320EB, #b177dd); 
  background: linear-gradient(to top, #9320EB, #b177dd);
}

// SNS
.sns_section {
  display: flex;
}

.sns_button {
  width: 44px;
  height: 44px;
  
  a {
    display: block;
    color: #000;
    padding: 10px;
    text-align: center;
    -moz-transition: all .1;
    -o-transition: all .1;
    -webkit-transition: all .1;
    transition: all .1;
  }

  i {
    font-size: 20px;
  }

  .fa-hatena:before {
    display: inline-block;
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    margin-top: -1px;
  }

  &:hover{
    &.twitter a {
      color: #1da1f2;
    }
    &.facebook a {
      color: #3b5998;
    }
    &.google a {
      color: #db4437;
    }
    &.instagram a {
      color: #262626;
    }
    &.pocket a {
      color: #EE4056;
    }
    &.hatena a {
      color: #4BA3D9;
    }
  }
}

//article
.articleToC {
  a {
    color: #007bff;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li > ul {
    padding-left: 1em;
  }

  &.level-1 ul ul,
  &.level-2 ul ul ul,
  &.level-3 ul ul ul ul,
  &.level-4 ul ul ul ul ul,
  &.level-5 ul ul ul ul ul ul,
  &.level-6 ul ul ul ul ul ul ul {
    display: none; 
  }
}

.author {
  &Icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 0;
    border-radius: 50%;
  }
  &Name {
    display: inline-block;
    line-height: 40px;
    @include fz(11);
  }
}

.hanchor {
  .fas {
    margin-left: .5em;
    font-size: .6em;
  }
}

.pageInfo {
  font-size: 14px;
}