.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  overflow:hidden;
  min-height:100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

header, footer {
  //background-color: #242738;
  background-color: $primaryColor;
}
header {
  opacity: .85;
  grid-row: 1;
  z-index: 3000;
}
main {
  grid-row: 2;
  &.isHome {
    margin-top: -60px;
  }
  @media (max-width: 991px) {
    &.isHome {
      margin-top: 0;
    }
  }
}
footer {
  grid-row: 3;
}

.container {
  padding: 0;
  .padded {
    padding: 0 15px;
  }
}

.row {
  margin: 0;
}

table {
  th,
  td {
    @include fz(13);
  }
}

figure {
  margin: 20px 0;
}
figcaption {
  margin-top: 10px;
}

.keyvisual {
  position: relative;
  padding: 0 15px;
  z-index: -1;
  &Text {
    &Box {
      position: absolute;
      top: 140px;
      left: 60px;
      background-color: rgba($color: $white, $alpha: .75);
      width: 480px;
      height: auto;
      padding: 0 40px 40px;
    }
    &BoxSub {
      position: absolute;
      top: 140px;
      background-color: rgba($color: $white, $alpha: .75);
      width: 100%;
      height: auto;
      padding: 0 40px 40px;
    }
    .keyTitleText {
      margin: 80px 0 10px;
      letter-spacing: .1em;
      color: $primaryColor;
      @media (max-width: 575px) {
        @include fz(20); 
      }
    }
    .keyword {
      @include fz(16);
      font-weight: bold;
      color: $primaryColor;
      margin-bottom: 40px;
    }
  }
  @media (max-width: 991px) { 
    margin-bottom: 40px;
    &Text {
      &Box {
        top: 240px;
        left: 0;
        width: 100%;
        height: 250px;
      }
    }
    .keyTitleText {
        margin-top: 40px;
      }
      .keyword {
        margin-bottom: 20px;
      }
  }
  @media (max-width: 768px) { 
    &Text {
      &Box {
        top: 180px;
        left: 0;
        width: 100%;
      }
      .keyTitleText {
        margin-top: 20px;
      }
      .keyword {
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 576px) { 
    margin-bottom: 180px;
    &Text {
      &Box {
        top: 160px;
        left: 0;
        width: 100%;
      }
      .keyTitleText {
        margin-top: 40px;
      }
      .keyword {
        margin-bottom: 20px;
      }
    }
  }
}

.navigationWrapper {
  background-color: var(--black-color);
  
}


.homeMain {
  margin-top: -220px;
  @media (max-width: 1200px) { 
    margin-top: -180px
  }
  @media (max-width: 991px) { 
    margin-top: 0;
  }
}

.updateList {
  display: block;
  & > li a {
    @include fz(15);
    font-weight: bold;

    &:hover {
      color: $primaryColor;
    }
  }
  &Container { 
    padding: 30px;
    margin-bottom: 100px;
    background-color: rgba($color: $white, $alpha: .9);
    > .container {
      padding: 0 200px;
    }
  }
  &Title {
    display: block;
    margin-bottom: 10px;
    @include fz(14);
    letter-spacing: .05em;
    font-weight: bold;
    color: $primaryColor;
  }
  @media (max-width: 1200px) {
    &Container { 
      margin-bottom: 0;
    }
  }
  @media (max-width: 991px) {
    &Container { 
      margin-bottom: 0;
      > .container {
        padding: 0 15px;
      }
    }
  }
  @media (max-width: 576px) {
    &Container {
      padding: 15px;
    }
  }
}

.topicTile {
  padding: 20px;
  height: 100%;
  &:hover {
    opacity: .8;
  }
  .date {
    color: #999;
    @include fz(12);
    font-weight: bold;
  }
  &Text {
    margin-top: 15px;
    color: $textColor;
    .title {
      @include fz(16);
      line-height: 1.6;
      min-height: 3em;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .tagList {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
    li {
      display: inline-block;
      color: #999;
      @include fz(12);
      line-height: 1;
      font-weight: bold;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

.btn-primary {
  // background: var(--primary-color);  
  &:hover {
    opacity: .8;
  }
}

// SNS
.sns_section {
  display: flex;
}

.sns_button {
  width: 44px;
  height: 44px;
  
  a {
    display: block;
    color: #000;
    padding: 10px;
    text-align: center;
    -moz-transition: all .1;
    -o-transition: all .1;
    -webkit-transition: all .1;
    transition: all .1;
  }

  i {
    font-size: 20px;
  }

  .fa-hatena:before {
    display: inline-block;
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    margin-top: -1px;
  }

  &:hover{
    &.twitter a {
      color: #1da1f2;
    }
    &.facebook a {
      color: #3b5998;
    }
    &.google a {
      color: #db4437;
    }
    &.instagram a {
      color: #262626;
    }
    &.pocket a {
      color: #EE4056;
    }
    &.hatena a {
      color: #4BA3D9;
    }
  }
}

//article
.articleToC {
  background-color: $white;
  padding: 30px 10px;
  a {
    color: $textColor;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    line-height: 1.4;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    li {
      margin-bottom: 1rem;
     
    }
  }

& > nav > ul > li > ul > li {  
  & > a {
    margin-bottom: 1rem;
    font-weight: bold;
    & + ul {
      padding-left: 1em;
    }
  }
}

  li > ul {
    margin-top:.5em;
    padding-left: 1em;
   
  }

  &.level-1 ul ul,
  &.level-2 ul ul ul,
  &.level-3 ul ul ul ul,
  &.level-4 ul ul ul ul ul,
  &.level-5 ul ul ul ul ul ul,
  &.level-6 ul ul ul ul ul ul ul {
    display: none; 
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
}

.author {
  &Icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 0;
    border-radius: 50%;
  }
  &Name {
    display: inline-block;
    line-height: 40px;
    @include fz(14);
  }
}

.hanchor {
  .fas {
    margin-left: .5em;
    font-size: .6em;
  }
}

.pageInfo {
  font-size: 14px;
}

.btn-fab {
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 34px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 11px;
  font-weight: bold;
  opacity: 0;
  background: url("/images/bear_dot.svg") no-repeat;
  background-size: contain;
  &:hover {
    color: #fff;
  }
  &.active {
    pointer-events: all;
    opacity: .5;
  }
}


.footerSns {
  margin-top: 5px;
}
.copyright {
  font-size: 12px;
  margin-bottom: 0;
  padding: 10px 0;
}